
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

@font-face {
  font-family: text;
  src: url(PixelitoCM.ttf);
}

h2{
  font-family: text;
  font-style: normal;
  font-size: 18px;
  color: black;
}

h3{
  font-family: text;
  font-style: normal;
  font-size: 18px;
  font-color: #FF6EC7;
}

a:link, a:active, a:visited {
  font-family: text;
  font-style: normal;
  font-size: 18px;
  color: black;
  text-decoration: none;
  align: center;
}

.body{

    margin: 0;
    padding: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
